<!DOCTYPE html>
<html>
<head>
    <title>Ошибка</title>
</head>
<body style="background-color: #e0f4f1;">
<div style="width: 50%; margin: 0 auto; background-color: white; padding: 20px; text-align: center;">
    <h2>Произошла какая-то непредвиденная ошибка. Попробуйте еще раз...</h2>
    <button style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer; text-align: center;" onclick="window.location.href='{% url 'index' %}'">На главную</button>
</div>
</body>
</html>